h3 {
  color: black;
  font-style: initial;

}
h2 {
  /* border:2px solid white; */
font-family: cursive;
}

body{
  
  /* // background-color:#0099FF; */
  background-image:url('img2.png') ;
  background-repeat: no-repeat;
  background-size: 600px;
 background-attachment: fixed;   
   background-size: contain; 

}
add{
color: brown;

}
table, td {
  
  border: 1px solid black;
  background-color: white;
  border:2px solid black;
  
}
.dayesHeaders{
background-color: #FFD700;
}
